.Review-title {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: #051d39;
  margin: 20px 0;
  text-transform: uppercase;
}

.Review-description {
  width: 100%;
  text-align: center;
  font-size: 24;
  font-weight: 600;
  color: #051d39;
  margin: 20px 0;
}

.Review-infoContainer {
  margin-bottom: 10px;
}

.Review-infoItem {
  padding: 5px
}