.InlineRadioButton-container {
  margin-left: 10px;
}

.InlineRadioButton-title {
  margin-bottom: 5px;
}

.InlineRadioButton-input {
  margin-bottom: 10px;
}

.InlineRadioButton-label {
  margin-left: 5px;
}