.Section-container {
  background-color: #f8f9fb;
  border-radius: 10px;
  height: auto;
  margin: 10px;
  padding: 10px;
}

.Section-title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 10px;
}

.Section-questionsContainer {
  margin-left: 15px;
}

.Section-questionContainer {
  margin-bottom: 10px;
}